.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }


#tabPanel {
  height: 250px;
  width: 500px;
  border: 1px solid;
}

#form, #radioGroup {
    padding: 15px; 
}

#textArea {
    padding: 15px; 
    height: 100%;
}