.map-container {
  position: relative;
  margin: 3px;
}

.map-frame {
  border: 1px solid black;
  height: 800px;
}

#map {
  height: 100%;
}

.fechas{
  height: 750px;
  border: 1px solid black;
}


.puntosGPS{
  border: 1px solid black;
  display: flex;
  vertical-align: top;
  height: 800px;
  width: 200px;

}