<p-dropdown [options]="lines" optionLabel="name" optionValue="idLine" [(ngModel)]="selectedLine" (onChange)="cargarLinea()"></p-dropdown>
<br>
<div>
  <table>
    <tr>
      <td style="width: 1600px;"> 
        <div class="map-container">
        <div class="map-frame">
          <div id="map">
          </div>
        </div>
      </div></td>
      <td>
        <div class ="puntosGPS">
          <h2>Puntos</h2>
          <div class="p-field-checkbox" *ngIf="selectedPoints.length>0" >
            Cantidad:{{selectedPoints.length}}
           <div *ngFor="let sp of selectedPoints;let i = index">
                [{{sp[1]}},{{sp[1]}}],
            </div> 
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

